<div id="planrepas">
  <h1>Plan repas</h1>

  <div class="divider"></div>

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">Numero du Plan</th>
      <th class="contentCell">Numero du Fournisseur</th>
      <th class="contentCell">Categorie</th>
      <th class="contentCell">Frequence</th>
      <th class="contentCell">Nombre de personne</th>
      <th class="contentCell">Nombre de calorie</th>
      <th class="contentCell">Prix</th>
    </thead>
    <tbody>
      <tr class="blank_row">
        <td class="contentCell" contenteditable="true" placeholder="Nouveau numero" #newNumeroPlanrepas></td>
        <mat-form-field appearance="fill">
            <mat-label>Fournisseur</mat-label>
            <mat-select [(ngModel)]="newNumeroFournisseur">
              <mat-option *ngFor="let fournisseur of fournisseurList" [value]="fournisseur.numerofournisseur" >
                {{fournisseur.numerofournisseur}} : {{fournisseur.nomfournisseur}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <td class="contentCell" contenteditable="true" placeholder="Nouvelle categorie" #newCategorie></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouvelle frequence" #newFrequence></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouveau nombre de personne" #newNombrePersonne></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouveau nombre de calorie" #newNombreCalorie></td>
        <td class="contentCell" contenteditable="true" placeholder="Nouveau prix" #newPrix></td>
        
    </tr>
    </tbody>

  </table>

  <button type="button" class="btn" (click)="insertPlanrepas()">+</button>

</div>
