#planrepas {
    background-color: #e2e2e2;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 3%;
}

.divider {
    border-bottom: 1px solid #9A75F0;
    margin: auto;
    width: 50%;
    margin-bottom: 25px;
}

#ht {
    background-color: white;
    text-align: left;
}


.header {
    font-size: 18px;
    color: #9A75F0;
}

.contentCell {
    padding: 10px;
}

.btn {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #9A75F0;
    margin: 20px;
    color: white;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Varela Round', sans-serif;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: #9A75F0BB; 
}

[placeholder]:empty:focus::before {
    content: "";
}

.blank_row {
    color: #9A75F0;
}

.blank_row:not(.nohover):hover { 
    color: #9A75F0; 
}

.actionCell {
    padding: 10px;
    color: #9A75F0; 
}
