<div id="planrepas">
    <h1>Plan repas</h1>
  
    <div class="divider"></div>
  
    <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
      <thead class="header">
        <th class="contentCell">Numero du Plan</th>
        <th class="contentCell">Numero du Fournisseur</th>
        <th class="contentCell">Categorie</th>
        <th class="contentCell">Frequence</th>
        <th class="contentCell">Nombre de personne</th>
        <th class="contentCell">Nombre de calorie</th>
        <th class="contentCell">Prix</th>
        <th class="actionCell">MODIFIER</th>
      </thead>
      <tbody>
        <tr *ngFor="let planrepas of planrepasList; let i = index">
          <td class="contentCell">{{ planrepas.numeroplan }}</td>
          <mat-form-field appearance="fill">
            <mat-label>{{planrepas.numerofournisseur}}</mat-label>
            <mat-select (selectionChange)="changeNumeroFournisseur($event, i)">
              <mat-option *ngFor="let fournisseur of fournisseurList" [value]="fournisseur.numerofournisseur" >
                {{fournisseur.numerofournisseur}} : {{fournisseur.nomfournisseur}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <td class="contentCell" contenteditable="true" (blur)="changeCategorie($event, i)">{{ planrepas.categorie }}</td>
          <td class="contentCell" contenteditable="true" (blur)="changeFrequence($event, i)">{{ planrepas.frequence }}</td>
          <td class="contentCell" contenteditable="true" (blur)="changeNbrPersonne($event, i)">{{ planrepas.nbrpersonnes }}</td>
          <td class="contentCell" contenteditable="true" (blur)="changeCalorie($event, i)">{{ planrepas.nbcalories }}</td>
          <td class="contentCell" contenteditable="true" (blur)="changePrix($event, i)">{{ planrepas.prix }}</td>
          <td class="actionCell">
            <button type="button" class="submitbtn" (click)="updatePlanrepas(i)"><i class="fa fa-edit"></i></button>
          </td>
        </tr>
  
      </tbody>
    </table>
    
  </div>
  