<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil">INF3710 - TP4</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/Planrepas/Insert">Ajouter des plans repas</a>
        <a class="nav-item nav-link active" routerLink="/Planrepas/Update">Modifier des plans repas</a>
        <a class="nav-item nav-link active" routerLink="/Planrepas/Delete">Supprimer des plans repas</a>
      </div>
    </div>
  </nav>

  <div class="home" *ngIf="route == ''">
    <p>
      Application de gestion de plan repas
    </p>
    <button mat-raised-button color="primary" class="btn" routerLink="/Planrepas">Parcourir les plans repas<mat-icon>arrow_right</mat-icon></button>
  </div>
  <router-outlet></router-outlet>
</div>
