
.title {
  color: rgba(154, 117, 240, 1);
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
  font-weight: bold;
}

.home {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content:center;
  width: 80%;
  margin-left: 10.5%;
  font-family: 'Roboto', sans-serif;
  line-height: normal;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px;
  text-align: center;
  background: rgba(154, 117, 240, 0.4);
  padding-top: 2%;
  padding-bottom: 2%;
}

.btn {
  margin-top: 1%;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

.main-nav {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 1%;
}
