#planrepas {
    background-color: #e2e2e2;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 3%;
}

#ht {
    background-color: white;
    text-align: left;
}

.divider {
    border-bottom: 1px solid #9A75F0;
    margin: auto;
    width: 50%;
    margin-bottom: 25px;
}

.header {
    font-size: 18px;
    color: #9A75F0;
}

.contentCell {
    padding: 10px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #9A75F033;
}

.blank_row {
    color: #9A75F0;
}

.blank_row:not(.nohover):hover { 
    color: #9A75F0; 
}
