<div id="planrepas">
    <h1>Plan repas</h1>
  
    <div class="divider"></div>
  
    <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
      <thead class="header">
        <th class="contentCell">Numero du Plan</th>
        <th class="contentCell">Numero du Fournisseur</th>
        <th class="contentCell">Categorie</th>
        <th class="contentCell">Frequence</th>
        <th class="contentCell">Nombre de personne</th>
        <th class="contentCell">Nombre de calorie</th>
        <th class="contentCell">Prix</th>
      </thead>
      <tbody>
        <tr *ngFor="let planrepas of planrepasList; let i = index">
          <td class="contentCell">{{ planrepas.numeroplan }}</td>
          <td class="contentCell" >{{ planrepas.numerofournisseur}}</td>
          <td class="contentCell" >{{ planrepas.categorie }}</td>
          <td class="contentCell" >{{ planrepas.frequence }}</td>
          <td class="contentCell" >{{ planrepas.nbrpersonnes }}</td>
          <td class="contentCell" >{{ planrepas.nbcalories }}</td>
          <td class="contentCell" >{{ planrepas.prix }}</td>
        </tr>
      </tbody>
    </table>
  
  
  </div>
  